/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 16px;
}

ul {
  list-style-type: none;
}

/* Utilities */
.debug,
.debug * {
  border: 3px dashed black;
  height: 100%;
}
