/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
  height: 90px;
}

ul {
  list-style-type: none;
}

/* Utilities */
.debug,
.debug * {
  border: 3px dashed black;
  height: 100%;
}

/* Font */
body {
  font-family: sans-serif;
}

/* Header */
header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.switch-selector {
  height: 16px;
  width: 25px;
  border-radius: 10px;
  display: inline-block;
}

.container > div {
  flex-shrink: 0;
}
.switch-selector.month {
  background-color: black;
}

.switch-selector.year {
  background-color: white;
  border: 2px solid grey;
  position: relative;
}

.button {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: white;
  margin-top: 1.5px;
  margin-left: 10px;
}

.button.secondary {
  border: 2px solid grey;
  margin: 0;
  height: 14px;
  width: 14px;
  position: absolute;
  transform: translate(-2px, -1px);
}

p {
  opacity: 0.6;
}

/* Main */
.main-section {
  padding: 30px;
}

.card {
  min-height: 400px;
  padding: 20px 15px;
  box-shadow: 2px 2px 4px 4px #e8e8e8;
  border-radius: 15px;
  min-width: 150px;
  flex-grow: 1;
  /* height: 460px; */
}

.container-card {
  display: flex;
  margin: 70px auto;
  min-height: 500px;
  justify-content: space-between;
  max-width: 1000px;
  padding: 0 16px;
  flex-wrap: wrap;
  gap: 1rem;
}

.price {
  display: flex;
  justify-content: center;
  padding: 20px 25px;
  align-items: flex-end;
}

.currency {
  padding-bottom: 5px;
  margin-right: 2px;
}

.value {
  font-size: 40px;
}

.time {
  padding-bottom: 5px;
  opacity: 0.6;
}

.discount {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.discount-value {
  display: inline-block;
  font-size: 10ps;
  height: 18px;
  width: 46px;
  background-color: #e3e3e3;
  border-radius: 5px;
  line-height: 18px;
  text-align: center;
}

.button-plan {
  background-color: #5c0ef5;
  color: white;
  height: 50px;
  width: 260px;
  border-radius: 10px;
  margin: 10px auto;
  line-height: 50px;
  text-align: center;
}

li {
  font-size: 15px;
  margin-left: 10px;
}

i {
  font-size: 20px;
  margin-right: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.card:nth-child(2) {
  background-color: #5c0ef5;
  color: white;
}

.button-plan.mid {
  background-color: white;
  color: #5c0ef5;
}

.discount-value.mid {
  background-color: white;
  color: black;
}
